* {
  margin: 0;
}

body {
  font-family: 'Mark Pro', monospace;
  background:linear-gradient(to right top, gold 50%, white 50%) no-repeat;
  background-size:100% calc(100% - 100vh + 10px);
}
body::before {
  content: "";
  position: fixed;
  left: 0px;
  top: 10px;
  bottom: 0;
  width: 100%;
  background: white;
  z-index: -1;
}

.container {
  max-width: 720px;
  margin: auto;
}

.container-link {
  margin: 4em;
}

h2, h3, h4 {
  font-weight: 300;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.25rem;
  margin-top: -1em;
}

h4 {
  font-size: .75em;
  margin-top: .25em;
}

a, .par, .title {
  line-height: 1.6;
}

a {
  display: block;
  text-decoration: none;
}

a:link, a:visited {
  color: black;
}

a:hover {
  color: gold;
}

.title {
  margin: 2em;
}

.zitat {
  padding: 4em 8em 2em;
}

.par {
  margin: 2em 0;
  color: #414a4c;
}